.container-md{
    margin: auto ;
    width:1226px;
    overflow: hidden;
}

.adv-topbar{
    position: relative;
    width: 100%;
    height: 120px;
}

.adv-topbar a{
   position: absolute;
   top:0;
   width:100%;
   height: 120px;
   background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bb3c06a430689ba2357dd7d1fbfa6bab.jpg?w=5120&amp;h=240);
   background-repeat: no-repeat;
   background-position: 50%;
   background-size:cover;
}
.site-topbar{
    position: relative;
    background-color: #333;
    color: #b0b0b0;
    width: 100%;
    height: 40px;
}

.topbar-nav{
    float: left;
    height: 40px;
    line-height: 40px;
}
.topbar-nav a{
     color: #b0b0b0;
     display:inline-block;
     font-size: 12px;
}
.topbar-nav span{
    margin: 0 0.3em;
    color: #424242;
}
.topbar-cart{
    display: flex;
    align-items: center;
    float: right;
    height: 40px;
    width:120px;
    margin-left: 15px;
    background-color: #424242;
    cursor: pointer;
}



.cartempty{
    margin:0 auto;
    color: #b0b0b0;
}
.cartempty svg{ 
    vertical-align: -4px;
    fill:#b0b0b0;
}
.cartempty span{
    font-size: 12px;
}
.cartfull{
    display: none;
}

.topbar-info{
    float: right;
    height: 40px;
    line-height: 40px;
}
.topbar-info a{
     color: #b0b0b0;
     display:inline-block;
     font-size: 12px;
}
.topbar-info span{
    margin: 0 0.3em;
    color: #424242;
}

.header-logo{
    margin-top:22px;
    width: 62px;
    float: left;
}

.logo{
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-color: #ff6700;
}
.header-logo :before{
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../images/mi-logo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 1;
}
.header-nav{
    float: left;
    width:850px;
}
.site-header .nav-list{
    float:left;
    width:1100px;
    height: 88px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}
.site-header .nav-item{
    float: left;
}
.site-header .nav-item .link{
    display:block;
    padding:26px 10px 38px;
    color: #333;
    cursor: pointer;
}
.site-header .nav-item .link :hover{
    
    color: #ff6700;
}
.nav-category{
    float: left;
    width:127px;
    padding-right:15px;
}
.nav-category .link-category{
    display: block;
    padding:26px 0 38px;
    text-align: right;
    color:#333;
    visibility: hidden;
}

.header-search{
    margin-top:25px;
    float: right;
    width:296px;
}

.search-form{
    height: 50px;
    width:296px;
}

.search-form .search-text , .search-btn{
        border:1px solid #e0e0e0;
        line-height: 48px;
        
}
.search-form .search-text{
    width:223px;
    height: 50px;
    font-size:14px;
  
}

.search-form .search-btn{
    margin-left:-1px;
    width: 52px;
    height: 50px;
    background: #fff;
}
.site-footer{
    position: relative;
}
.footer-service{
    padding:27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.footer-service ul:after{
    content: "";
    display: block;
    clear: both;
}
.list-service li {
    float: left;
    width:19.8%;
    height: 25px;
    font-size:16px;
    line-height: 25px;
    text-align: center;
    border-left: 1px solid #e0e0e0;
}
.list-service li:first-child{
    border-left: 0;
}
.list-service li a{
    color:#616161;
}

.footer-links{
    padding: 40px 0;
}

.col-links{
    float:left;
    width: 160px;
    margin:0;
}

.col-links dt{
    margin: -1px 0 26px;
    font-size:14px;
    line-height: 1.25;
    columns: #424242;
}
.col-links dd{
    margin:10px 0 0;
    font-size:12px;
}
.col-links dd a{
    color: #757575;
}

.clearfix :before{
    content: "";
    display: table;
}
.col-contact .phone{
    font-size:22px;
    color: #ff6700;
    line-height: 1;
}

.col-contact p{
    margin: 0 0 5px 0;
    font-size: 12px;
}

img{
    display: none;
}

.site-info{
    position: relative;
    padding: 30px 0;
    font-size:12px;
    background-color: #fafafa;
}
.footer-logo :before{
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../images/mi-logo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 1;
}
.slogan{
    clear:both;
    margin: 30px auto 0;
    width:100%;
    height: 19px;
    background: url(../images/slogan2020.png) no-repeat center 0;
}
.ir{
    display:block;
    text-align: left;
    text-indent: -9999em;
    overflow:hidden;
}